@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 200;
    src: url('../../fonts/montserrat/Montserrat-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 200;
    src: url('../../fonts/montserrat/Montserrat-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 400;
    src: url('../../fonts/montserrat/Montserrat-Italic.ttf') format('truetype');
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    src: url('../../fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 600;
    src: url('../../fonts/montserrat/Montserrat-SemiBoldItalic.ttf') format('truetype');
}