html(lang="en")
    head
        // Required meta tags
        meta(charset="UTF-8")
        meta(name="description", content="Bootstrap starter template")
        meta(name="keywords",content="HTML, CSS, JavaScript")
        meta(name="author", content="Yogie Sanjaya")        
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title Hefa Store
    body
        //-page header
        include ./elements/navbar.pug       